<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gary.mqtthttpbridge.mapper.PackMapper">
  <resultMap id="BaseResultMap" type="com.gary.mqtthttpbridge.model.Pack">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="electricTension" jdbcType="FLOAT" property="Electrictension" />
    <result column="electricity" jdbcType="FLOAT" property="electricity" />
    <result column="insulationResistance" jdbcType="FLOAT" property="insulationresistance" />
    <result column="meanCellResistance" jdbcType="FLOAT" property="meancellresistance" />
    <result column="meanCellTemperature" jdbcType="INTEGER" property="meancelltemperature" />
    <result column="dischargeCapacity" jdbcType="FLOAT" property="dischargecapacity" />
    <result column="terminalTemperature" jdbcType="FLOAT" property="terminaltemperature" />
  </resultMap>
  <sql id="Base_Column_List">
    id, electricTension, electricity, insulationResistance, meanCellResistance, meanCellTemperature, 
    dischargeCapacity, terminalTemperature
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_pack
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_pack
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.gary.mqtthttpbridge.model.Pack" useGeneratedKeys="true">
    insert into t_pack (electricTension, electricity, insulationResistance, 
      meanCellResistance, meanCellTemperature, 
      dischargeCapacity, terminalTemperature)
    values (#{Electrictension,jdbcType=FLOAT}, #{electricity,jdbcType=FLOAT}, #{insulationresistance,jdbcType=FLOAT},
      #{meancellresistance,jdbcType=FLOAT}, #{meancelltemperature,jdbcType=INTEGER}, 
      #{dischargecapacity,jdbcType=FLOAT}, #{terminaltemperature,jdbcType=FLOAT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.gary.mqtthttpbridge.model.Pack" useGeneratedKeys="true">
    insert into t_pack
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="electrictension != null">
        ElectricTension,
      </if>
      <if test="electricity != null">
        electricity,
      </if>
      <if test="insulationresistance != null">
        insulationResistance,
      </if>
      <if test="meancellresistance != null">
        meanCellResistance,
      </if>
      <if test="meancelltemperature != null">
        meanCellTemperature,
      </if>
      <if test="dischargecapacity != null">
        dischargeCapacity,
      </if>
      <if test="terminaltemperature != null">
        terminalTemperature,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="electrictension != null">
        #{Electrictension,jdbcType=FLOAT},
      </if>
      <if test="electricity != null">
        #{electricity,jdbcType=FLOAT},
      </if>
      <if test="insulationresistance != null">
        #{insulationresistance,jdbcType=FLOAT},
      </if>
      <if test="meancellresistance != null">
        #{meancellresistance,jdbcType=FLOAT},
      </if>
      <if test="meancelltemperature != null">
        #{meancelltemperature,jdbcType=INTEGER},
      </if>
      <if test="dischargecapacity != null">
        #{dischargecapacity,jdbcType=FLOAT},
      </if>
      <if test="terminaltemperature != null">
        #{terminaltemperature,jdbcType=FLOAT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gary.mqtthttpbridge.model.Pack">
    update t_pack
    <set>
      <if test="electrictension != null">
        electricTension = #{Electrictension,jdbcType=FLOAT},
      </if>
      <if test="electricity != null">
        electricity = #{electricity,jdbcType=FLOAT},
      </if>
      <if test="insulationresistance != null">
        insulationResistance = #{insulationresistance,jdbcType=FLOAT},
      </if>
      <if test="meancellresistance != null">
        meanCellResistance = #{meancellresistance,jdbcType=FLOAT},
      </if>
      <if test="meancelltemperature != null">
        meanCellTemperature = #{meancelltemperature,jdbcType=INTEGER},
      </if>
      <if test="dischargecapacity != null">
        dischargeCapacity = #{dischargecapacity,jdbcType=FLOAT},
      </if>
      <if test="terminaltemperature != null">
        terminalTemperature = #{terminaltemperature,jdbcType=FLOAT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gary.mqtthttpbridge.model.Pack">
    update t_pack
    set electricTension = #{Electrictension,jdbcType=FLOAT},
      electricity = #{electricity,jdbcType=FLOAT},
      insulationResistance = #{insulationresistance,jdbcType=FLOAT},
      meanCellResistance = #{meancellresistance,jdbcType=FLOAT},
      meanCellTemperature = #{meancelltemperature,jdbcType=INTEGER},
      dischargeCapacity = #{dischargecapacity,jdbcType=FLOAT},
      terminalTemperature = #{terminaltemperature,jdbcType=FLOAT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectLastPack" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_pack
    order by id desc
    limit 1
  </select>
</mapper>